body{
	background-color: #eee;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	/*font-size: 12px;*/
	margin: 0;
	padding: 0;
	height: auto;
}

div.wholeBody{
	width: 1349px;
	margin: auto;
	padding: 0;
}

a{
	text-decoration: none;
}

h1{
	font-size: 1.75em;
}

._top{
	margin: 0 10%;
	overflow: auto;
}

._top h1{
	color: #002b60;
	padding: 22px 0;
	float: right;
}

._top img{
	vertical-align: bottom;
}

._top img, h1{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

/*The banner part is here*/

div.banner{
	background-color: #E6E5E5;
	width: 100%;
	box-shadow: 0 0 5px #002b60;
    margin-bottom: 1%;
    overflow: hidden;
}

div.banner  a{
    margin: 0.75% 0;
    padding: 0.25% 1%;
	color: #002b60;
	text-align: right;
    float: right;
    border: 1.5px solid #002b60;
    border-radius: 5px;
}

div.banner a:hover{
    cursor: pointer;
    color: #0055BD;
    border: 1.5px solid #0055BD;
}

div.banner div.regular_login a{
    margin-right: 1.5%;
}

div.banner > div{
    margin-right: 10%;
}

div.banner a{
    display: inline-block;
}



/*The end bar is here*/

div.endbar{
	margin: 0;
	background-color: #002b60;
}

div.endbar div._content{
	margin-left: 10%;
	margin-right: 10%;
	padding: 5px 22px;
}

div.endbar div._content p:first-child, p>a{
	font-size: 0.875em;
	color: #E6E5E5;
}

div.endbar div._content p:last-child{
    text-align: right;
    font-size: 0.875em;
    color: #E6E5E5;
}
div.endbar div._content span#serverTime{
    font-weight: bold;
}

/*------------------------------------------*/
/*The above is the shared style of all pages*/
/*------------------------------------------*/


/*The Content Body is here*/
div.body{
	height:700px;
    clear:right;
}

/*The side bar is here*/

div.sidebar{
	margin: 0 0 0 10%;
	width: 10%;
	float: left;
}

div.sidebar td>a, td{
	color: #E6E5E5;
	display: block;
}

div.sidebar td{
	margin-bottom: -0.7%;
}

div.sidebar a{
	background:#002b60;
	padding: 15px 15px;
	text-align: left;
	border-radius: 5px;
}

div.sidebar td#tag1>a{
	background:#0055BD;
}

div.sidebar a:hover{
	background-color: #0055BD;
	color: #F9F9F9;
	cursor: pointer;
}

/*The main content part is here*/

div.maincontent{
	border-radius: 5px;
	margin-top: 0.3%;
	margin-right: 10%;
	background-color: #E6E5E5;
	box-shadow: 0 0 5px #002b60;
	width: 65%;
	height: 80%;
	overflow: auto;
	float: right;
}

div.maincontent div.announcement, div.welcome{
    margin:1% 4%;
}

div.maincontent div.announcement h2, div.welcome h2{
    padding-bottom: 15px;
    border-bottom: 2px solid #0055BD;
    font-weight: 500;
    font-size: 1.25em;
}

div.maincontent div.announcement span{
	text-decoration: underline;
	color: #0055BD;
}

div.maincontent div.welcome{
    margin-top:8%;
}

div.maincontent div.welcome span{
    font-size: 1.1em;
    font-weight: 500;
}

div.maincontent p{
    font-size: 0.95em;
}

div.maincontent div.announcement span:hover{
    cursor: pointer;
}



